* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* home section styling */
.home {
  background: url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/14.jpg?3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252);
  min-height: 720px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home .info {
  display: inline-block;
  justify-content: center;
  position: absolute;
  left: 16%;
  top: 40%;
  align-items: center;
}

.home .home-content .learn-more {
  margin: 5% auto;
  padding: 4%;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  background-color: rgba(77, 72, 72, 0.65);
  border: outset rgba(175, 165, 165, 0.555);
  border-radius: 5%;
}

.row {
  margin: 2%;
}

.row .writing-1 {
  margin: 2px auto;
  padding: auto 2%;
}

/* home section text styling */
.home .home-content .text-1 {
  font-size: 60px;
  font-weight: 600;
  margin: 4% auto;
}

.home .home-content .text-2 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 4% auto;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  height: 10%;
  min-height: 10vh;
  background: transparent;
}

.navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
  padding: 10%;
  font-family: "Ubuntu", "sans-serif";
}

.navbar .logo a span {
  color: rgb(163, 51, 51);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}

.navbar .menu li a {
  color: white;
  font-size: 18px;
  margin-left: 25px;
  transition: font-size 0.8s ease;
}

.navbar .menu li a:hover {
  color: rgb(18, 28, 87);
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.navbar .nav-link {
  margin: 15px auto;
}

/* footer section styling */
.footer {
  background-color: rgb(55, 98, 190);
}

.column-1,
.column-2,
.column-3 {
  display: inline-block;
  box-sizing: border-box;
  color: white;
  font-size: small;
  padding: 2px;
  margin: 2% 4%;
  bottom: 0;
}

.column-3 a {
  color: white;
}

.text-in-white {
  margin-top: 5%;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* mobile view */
@media screen and (max-width: 1024px) {
  .nav-link {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
