* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text";
}


.fade-in{
  opacity: 0;
  transition: opacity 260ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}


html{
  scroll-behavior: smooth;
  background-color: #27213c;
  color: #ffffff;
}

/* home section styling */
.home {
  background: url(https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/14.jpg?3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(252, 252, 252);
  min-height: 720px;
}

.home .info {
  display: inline-block;
  justify-content: center;
  position: absolute;
  left: 16%;
  top: 40%;
  align-items: center;
}

.home .small-text{
  font-size: 20px;
  color:#E91E63;
}

/* button style */
.button {
  display: inline-block;
  margin: 5% auto;
  color: aliceblue;
  font-size: 18px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: rgba(77, 72, 72, 0.65);
  border: 2px outset rgba(175, 165, 165, 0.555);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: black;
}

/* home section text styling */
.home .home-content .text-1 {
  font-size: 80px;
  font-weight: 600;
  margin: 4% auto;
}

.home .home-content .text-2 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 4% auto;
  color: #ffe6ef;
}

.home .home-content .text-2::before{
  content: "";
  height: 1%;
  width: 100%;
  position: absolute;
  margin: -2%;
  background-color: #ffffff;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  height: 10%;
  min-height: 10vh;
  background: transparent;
  z-index: 99;
}

.navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
  padding: 10%;
}

.navbar .logo a span {
  color: #E91E63;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  justify-content: space-around;
}

.navbar .menu li a {
  color: white;
  font-size: 18px;
  margin-left: 25px;
  transition: font-size 0.8s ease;
}

.navbar .menu .nav-link:hover {
  color: rgb(18, 28, 87);
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.navbar .nav-link {
  margin: 15px auto;
}

.navbar .resume-button {
  color: #E91E63;
  background-color: transparent;
  border: 1px solid #E91E63;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  margin-left: 15px;
}

.navbar .resume-button:hover {
  color: #ffffff;
  background-color:rgb(233, 30, 99, 0.3);  
}

/* about me section styling */
.section {
  padding: 100px 0;
}

.about,
.skills {
  margin-bottom: 5%;
}

.about .title,
.work .title,
.skills .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 550;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 20px;
}

.about .about-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.about .about-content .right .text,
.work .work-content,
.contact .contact-content .right .text {
  padding-left: 4%;
  font-size: 18px;
}

.about .about-content .right,
.skills .skill-content .right,
.contact .contact-content .right {
  width: 45%;
  padding-right: 4%;
}

.about .about-content .right,
.skills .skill-contents,
.contact .contact-content {
  text-align: justify;
}

.section .title::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .title::after {
  content: "——who i am——";
  position: absolute;
  bottom: -18%;
  font-size: 20px;
  left: 50%;
  color: #E91E63;
  padding: 5px;
  transform: translateX(-50%);
}

.about .about-content .left,
.work .work-content .left,
.contact .contact-content .left {
  width: 46%;
}

.about .about-content .left .icon {
  position: relative;
  width: 45%;
  height: 35%;
  margin-left: 12%;
  border-radius: 1%;
  transform: translate(45%);
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.4);
}


.about .about-content .right a {
  display: inline-block;
  background-color: #E91E63;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #E91E63;
  transition: all 0.3s ease;
}

.about .bold-text{
  font-weight: 800;
}

.about .about-content .right a:hover {
  color: #E91E63;
  background-color: white;
}

/* my work section */
.work {
  padding-top: 1%;
  padding-bottom: 5%;
  background: #313960;
}

.work .title::after {
  content: "——what i've worked on——";
  position: absolute;
  bottom: -18%;
  font-size: 20px;
  left: 50%;
  color: #E91E63;
  padding: 5px;
  transform: translateX(-50%);
}

.work .flex.row {
  flex-direction: row;
  margin-bottom: 1%;
}

.work .flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.work .filter-wrap .filter {
  box-sizing: border-box;
  background: #E91E63;
  margin: 5px;
  letter-spacing: 1px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 2.5%;
}

.work .filter-wrap {
  padding: 8px 20px;
}

.work .filter-wrap .filter.active {
  background: #6d1835;
  color: #eee;
}

.work .product {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  overflow: hidden;
}

.work .product .card{
  position: relative;
}

.work .filter-wrap .product img{
  position: relative;
  object-fit: cover;
  width: 100%;
  cursor: pointer;
  border-radius: 1.3%;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.4);
}


.card{
  overflow: hidden;
  text-align: center;
}

.card .text h2{
  display: block;
  line-height: 180%;
  font-weight: 700;
  font-size: 20px;
}

.card .text span{
  display: block;
  font-weight: 100;
  font-size: 15px;
  color: #E91E63;
}

.card .learn-more{
  color: #eee;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  margin: 5%;
  padding: 4%;
  border: 2px solid #E91E63;
}

.card .text{
  position: absolute;
  word-wrap: break-word;
  inset: 25px;
  border: none;
  padding: 0 17px;
  margin: 5%;
}


/* Card hover mode */

.card .text::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  border-left: 4px solid rgba(255,255,255,0.8);
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.4s;
}

.card .text h2,
.card .text .highlight,
.card .text .learn-more{
  margin-bottom: 6px;
  opacity: 0;
  transition: 0.35s;
}

.card .text h2{
  font-weight: 300;
  text-transform: uppercase;
  transform: translate(30%,0%);
  transition-delay: 0.3s;
}

.card .text h2 span{
  font-weight: 800;
}

/* when hover */
.card:hover img{
  opacity: 0.25;
}

.card:hover .text h2,
.card:hover .text .highlight,
.card:hover .text .learn-more{
  opacity: 1;
  transform: translate(0%,0%);
  transition-delay: 0.4s;
}


.card:hover .text::before{
  background-color: rgba(222, 214, 214, 0);
  left: 0;
  opacity: 1;
  transition-delay: 0s;
}

.card .text .learn-more:hover{
  color: #eee;
  background-color: #E91E63;
  cursor: pointer;
  transition-delay: 0s;
}


/* read more content */
.work .filter-wrap .product .card .read-more-cont{
  display: none;
}

.popup-box{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.popup-box .popup-content{
  background-color: #272a3e;
	width: 90vw;
  height: 100vh;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
  box-sizing: border-box;
	border-radius: 2px;
}

.popup-box .popup-header{
	padding: 15px 40px 15px 15px;
	border-bottom: 2px solid #E91E63;
}

.popup-box .popup-header h2{
	margin:0;
	color:#ffffff;
	font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.popup-box .popup-header .popup-close-icon{
	position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  font-weight: 800;
  line-height: 30px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.popup-box .popup-body{
  position: relative;
  margin: 5%;
  max-height: 85%;
  overflow-y:auto;
}

.popup-box .popup-body h3{
  margin-bottom: 2%;
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
.popup-box .popup-body p{
  margin-left: 5%;
  margin-right: 5%;
  line-height: 150%;
  font-size: 16px;
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
.popup-box .popup-body video{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
.popup-box .popup-body img{
  display: inline-flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
.popup-box .popup-body li{
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 5%;
  font-family: "Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
.popup-box .popup-body iframe{
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100vh;
}

.popup-box .popup-body button{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  color: #eee;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  background-color: transparent;
  border: solid #E91E63;
  border-radius: 4%;
  cursor: pointer;
}
.popup-box .popup-body button:hover{
  background-color:#E91E63;
  border: solid #E91E63;
  border-radius: 4%;
  color: #eee;
  cursor: pointer;
}


.popup-box .popup-end{
	padding: 15px;
	border-top: 1px solid #dddddd;
	text-align: center;
}


.popup-box.open{
  visibility: visible;
  opacity: 1;
}


/* skills section styling */
.skills {
  margin-bottom: 10%;
  width: auto;
}

.skills .title::after {
  content: "——what i know——";
  position: absolute;
  bottom: -18%;
  font-size: 20px;
  left: 50%;
  color: #E91E63;
  padding: 5px;
  transform: translateX(-50%);
}


.skills .skill-content{
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

.skills .column.left{
  display: inline-block;
  width: 48%;
}

.skills .column.right{
  width: 50%;
}

.skills .column.left .flex-item.dev-wrapper ul,
.des-wrapper ul{
  display: flex;
}

.skills .left, .skills .right{
  margin: 5%;
  display: inline-block;
  align-items: center;
}

.skills .skill-content .skill-heading{
  display: inline-block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: uppercase;
  font-size: 25px;
}

.skills .skill-content .flex-item.tool-wrapper{
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
}

.skills .skill-content .tool-wrapper .tool-item{
  list-style-type: none;
  margin: 10px 0;
  font-size: 17px;
}

.skills .skill-content .flex-item .dev-item, .design-item{
  width: 95px;
  height: 95px;
  font-size: 16px;
  line-height: 5.5;
  margin: 5px 5px 5px 0;
  list-style-type: none;
  border: 3px solid rgba(157, 156, 156, 0.5);
  border-radius: 50%;
  text-align: center;
}


/* contact contect styling */
.contact {
  color: #eee;
  background:#313960;
}

.contact .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  transform: translateY(55px);
}

.contact .title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 180px;
  bottom: 2%;
  font-size: 20px;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

form {
  background: none;
  margin: 3%;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 5%;
}

form h3 {
  color: rgb(251, 243, 243);
  text-shadow: 2px 0px 0px rgba(217, 55, 117, 0.61);
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

form input,
form textarea {
  background: #222742
  ;
  border: 0;
  margin: 2px 0;
  outline: none;
  font-size: 20px;
}

form .send {
  padding: 15px 0;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 13pt;
  margin: 0 auto;
  padding: 7px 0;
  width: 170px;
  cursor: pointer;
  text-align: center;
  width: 160px;
  margin: 20px auto 0;
}

form ::placeholder {
  padding: 12px 15px;
  color: rgba(238, 238, 238, 0.589);
  font-size: 18px;
}

/* footer styling */
footer {
  background: #313960;
  color: white;
  position: relative;
  padding: 20px 23px;
  -webkit-font-smoothing: antialiased;
}

footer .to-top {
  color: white;
  background: #2e2d3d;
  cursor: pointer;
  position: absolute;
  line-height: 43pt;
  top: -25px;
  height: 65px;
  width: 65px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 47%;
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

footer .to-top:hover {
  background: rgba(22, 21, 21, 0.445);
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}

.to-top.active {
  bottom: 32px;
  opacity: 1;
}

footer .icon-wrap .icon {
  color: white;
  background: none;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 2px;
  margin: 10px;
  transition: transform 0.5s;
}

footer .icon-wrap {
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
}

footer .icon-wrap .icon:hover {
  background: none;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}

footer .icon-wrap .icon:hover .fa-brands {
  color: white;
}

footer .icon-wrap .icon:hover .fa-brands {
  animation: to-bottom-from-top 0.5s forwards;
}

@keyframes to-bottom-from-top {
  40% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  52% {
    opacity: 1;
  }
}

footer span {
  margin-left: 40%;
}

footer span a {
  color: rgb(106, 128, 217);
  text-decoration: none;
}

footer span a:hover {
  color: rgb(164, 183, 213);
  text-decoration: underline;
}

/* burger menu */
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* sticky navbar */
.sticky {
  position: fixed;
  background-color: rgba(17, 17, 17, 0.363);
  top: 0;
  width: 100%;
}

/* mobile view */
@media screen and (max-width: 1024px) {
  .nav-link {
    width: 50%;
  }

  .work .filter-wrap .filter {
    box-sizing: border-box;
    background: #E91E63;
    margin: 5px;
    letter-spacing: 1px;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 2.5%;
  }
  
  .work .filter-wrap {
    padding: 8px 10px;
  }
  
  .work .filter-wrap .filter.active {
    background: #6d1835;
    color: #eee;
  }

  .work .filter-wrap .product img{
    position: relative;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 1.3%;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.4);
  }
  
  .card{
    overflow: hidden;
    text-align: center;
  }
  
  .card .text h2{
    display: block;
    line-height: 100%;
    font-weight: 700;
    font-size: 12px;
  }
  
  .card .text span{
    display: block;
    font-weight: 100;
    font-size: 15px;
    color: #E91E63;
  }
  
  .card .learn-more{
    color: #eee;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    margin: 5%;
    padding: 4%;
    border: 2px solid #E91E63;
  }
  
  .card .text{
    position: absolute;
    word-wrap: break-word;
    inset: 10px;
    border: none;
    padding: 0 7px;
    margin: 2%;
  }

  /* Card hover mode */  
  .card .text::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    border-left: 4px solid rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.5);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
  }
  
  .card .text h2,
  .card .text .highlight,
  .card .text .learn-more{
    margin-bottom: 6px;
    opacity: 0;
    transition: 0.35s;
  }
  
  .card .text h2{
    font-weight: 300;
    text-transform: uppercase;
    transform: translate(30%,0%);
    transition-delay: 0.3s;
  }
  
  .card .text h2 span{
    font-weight: 800;
  }

  .card .text .learn-more:hover{
    color: #eee;
    background-color: #E91E63;
    cursor: pointer;
    transition-delay: 0s;
  }
}

@media screen and (max-width: 768px){
  .work .filter-wrap .filter {
    box-sizing: border-box;
    background: #E91E63;
    margin: 5px;
    letter-spacing: 1px;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 2.5%;
  }
  
  .work .filter-wrap {
    padding: 8px 10px;
  }
  
  .work .filter-wrap .filter.active {
    background: #6d1835;
    color: #eee;
  }

  .work .filter-wrap .product img{
    position: relative;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    border-radius: 1.3%;
    box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.4);
  }
  
  
  .work .filter-wrap .product .card{
    overflow: hidden;
    text-align: center;
  }
  
  .work .filter-wrap .product .card .text h2{
    font-weight: 600;
    font-size: 12px;
  }
  
  .work .filter-wrap .product .card .text span{
    font-weight: 100;
    font-size: 9px;
    color: #E91E63;
  }
  
  .work .filter-wrap .product .card .learn-more{
    color: #eee;
    font-size: 10px;
    text-align: center;
    background-color: transparent;
    margin-top: 5%;
    padding: 4%;
    border: 2px solid #E91E63;
  }
  
  .work .filter-wrap .product .card .text{
    position: absolute;
    word-wrap: break-word;
    inset: 5px;
    border: none;
    padding: 0 4px;
    margin: 4%;
  }

  .card .text .learn-more{
    color: #eee;
    background-color: #E91E63;
    cursor: pointer;
    transition-delay: 0s;
  }


}



@media screen and (max-width: 480px) {
  .burger div {
    margin-right: 15px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    height: 10%;
    min-height: 10vh;
    background: transparent;
    z-index: 99;
  }

  .sticky {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.363);
    top: 0;
    width: 100%;
  }
  
  body {
    overflow-x: hidden;
  }

  .menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-link li {
    opacity: 0;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .home .info .home-content{
    transform: translateY(-30%);
  }

  .home .info .text-1{
    font-size: 20vw;
  }
  
  .about .about-content{
    display: block;
  }

  .about .about-content .right .text{
    font-size: 12px;
  }

  .work .title{
    position: relative;
  }

  .work .title::after, 
  .about .title::after,
  .skills .title::after {
    content: " ";
    bottom: -18%;
    height: 15vw;
    left: 50%;
    color: #E91E63;
    transform: translateX(-50%);
  }
  
  .burger {
    display: block;
  }

  .about .title,
  .work .title,
  .skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 580;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .about,
  .contact .contact-content {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  .about .about-content .column{
    display: block;
  }

  .about .about-content .right,
  .skills .skill-contents,
  .contact .contact-content {
    text-align: justify;
  }

  .about .about-content .right .text a{
    transform: translateX(50%);
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .about .about-content .column.right,
  .about .about-content .column.left{
    display: block;
    width: 100vw;
    margin: 25%;
    margin: 0;
    font-size: 12px;
  }
  .about .about-content .column.left{
    margin-bottom: 10%;
    transform: translateX(-5%);
  }

  .work .product {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    overflow: hidden;
  }

  .work .work-content .flex.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .skills .skill-content .skill-heading{
    align-content: center;
  }
  
  .skills .skill-content .flex-item{
    font-size: 12px;
    padding: 0;
  }

  .skills .skill-content{
    display: block;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .skills .column.left{
    display: block;
  }
  
  .skills .column.left .flex-item.dev-wrapper ul,
  .des-wrapper ul{
    
    display: inline-block;
  }
  
  .skills .left, .skills .right{
    margin: 5%;
    display: block;
    align-items: center;
  }

  .skills .skill-content .flex-item.tool-wrapper{
    overflow: visible;

  }
  .skills .skill-content .flex-item .dev-item, .design-item{
    display: block;
    font-size: 16px;
    line-height: 5.5;
    margin: 5px 5px 5px 2px;
    list-style-type: none;
    border: 3px solid rgba(157, 156, 156, 0.5);
    border-radius: 0%;
    text-align: center;
  }

  .fa-solid.fa-gears, .fa-solid.fa-pen-ruler,
  .fa-solid.fa-screwdriver-wrench,
  .fa-solid.fa-user-gear{
    font-size: 0;
  }

  footer .to-top{
    margin-left: 35%;
  }

  footer span{
    margin-left: 0;
  }
  footer .icon-wrap{
    margin-top: 8%;
  }
  footer .fa-brands{
    font-size: 50px;
  }
}

.nav-active {
  transform: translateX(0%);
}

:root{
  --fz-md: 18px;
  --fz-mx: 22px;
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}